@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 78px;
  background: #1c1c1e;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header ul {
    display: flex;
    align-items: center; }
    .header ul li {
      margin-right: 78px;
      padding: 10px 0;
      font-size: 12px;
      color: #727271;
      font-family: "微软简中圆"; }
    .header ul p {
      color: #cba303;
      font-size: 13px;
      margin-right: 130px; }

.body {
  width: 100%; }
  .body .div {
    width: 100%;
    display: none; }
  .body .div:nth-of-type(1) .swiper-container {
    width: 100%;
    height: 676px; }
    .body .div:nth-of-type(1) .swiper-container img {
      width: 100%;
      height: 100%; }
    .body .div:nth-of-type(1) .swiper-container .swiper-pagination-bullet {
      width: 74px;
      height: 4px;
      opacity: 1;
      background: #afafad;
      border-radius: 0; }
    .body .div:nth-of-type(1) .swiper-container .swiper-pagination-bullet-active {
      background: #f1c40f; }
  .body .div:nth-of-type(1) .diva1 {
    width: 100%;
    height: 362px;
    background: url(../img/轮胎_03.png) no-repeat;
    background-size: 100%; }
    .body .div:nth-of-type(1) .diva1 .container {
      width: 48.9%;
      margin: auto;
      text-align: center;
      overflow: hidden; }
      .body .div:nth-of-type(1) .diva1 .container h3 {
        font-size: 40px;
        color: #20201e;
        line-height: 40px;
        margin: 52px 0 44px 0; }
      .body .div:nth-of-type(1) .diva1 .container p {
        font-size: 11px;
        color: #748890;
        line-height: 30px; }
      .body .div:nth-of-type(1) .diva1 .container button {
        border: none;
        background: none;
        width: 164px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        border: 1px solid #727271;
        border-radius: 2px;
        color: #727271;
        font-size: 11px;
        margin-top: 15px; }
  .body .div:nth-of-type(1) .diva2 {
    width: 100%;
    height: 688px;
    background: #121212;
    overflow: hidden; }
    .body .div:nth-of-type(1) .diva2 .container {
      width: 1047px;
      height: 100%;
      margin: auto; }
      .body .div:nth-of-type(1) .diva2 .container ul {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .body .div:nth-of-type(1) .diva2 .container ul li:nth-of-type(1) {
          font-size: 22px;
          color: #F1C40F;
          margin: 92px 0 108px 0; }
          .body .div:nth-of-type(1) .diva2 .container ul li:nth-of-type(1) p {
            margin-top: 16px;
            width: 44px;
            height: 4px;
            background: #F1C40F; }
        .body .div:nth-of-type(1) .diva2 .container ul li:nth-of-type(2) {
          font-size: 10px;
          color: #F1C40F;
          width: 86px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          border: 1px solid #5d5d5c;
          border-radius: 2px;
          margin: 100px 0 108px 0; }
      .body .div:nth-of-type(1) .diva2 .container .swiper-container {
        width: 100%;
        height: 256px; }
        .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide {
          width: 100%;
          height: 100%; }
          .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu {
            height: 100%;
            display: flex;
            justify-content: space-between;
            position: relative; }
            .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen {
              width: 342px;
              height: 100%;
              position: relative; }
              .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen img {
                width: 100%;
                height: 100%; }
              .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff; }
                .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div ol {
                  margin-left: 15px; }
                  .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div ol li:nth-of-type(1) {
                    font-size: 14px; }
                  .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div ol li:nth-of-type(2) {
                    font-size: 12px; }
                .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div p {
                  margin-right: 24px;
                  width: 26px; }
                  .body .div:nth-of-type(1) .diva2 .container .swiper-container .swiper-slide .tu .tuwen div p img {
                    width: 100%; }
  .body .div:nth-of-type(1) .diva3 {
    width: 100%;
    height: 250px;
    background: #F1C40F; }
    .body .div:nth-of-type(1) .diva3 .container {
      margin: auto;
      text-align: center;
      overflow: hidden; }
      .body .div:nth-of-type(1) .diva3 .container h3 {
        font-size: 30px;
        color: #fff;
        margin: 70px 0 26px 0; }
      .body .div:nth-of-type(1) .diva3 .container button {
        border: none;
        background: none;
        width: 180px;
        height: 52px;
        text-align: center;
        line-height: 52px;
        font-size: 18px;
        color: #121212;
        background: #fff;
        border-radius: 10px; }
  .body .div:nth-of-type(1) .diva4 {
    width: 100%;
    height: 120px; }
    .body .div:nth-of-type(1) .diva4 .container {
      width: 1047px;
      height: 100%;
      margin: auto; }
      .body .div:nth-of-type(1) .diva4 .container .swiper-container {
        width: 100%;
        height: 100%; }
        .body .div:nth-of-type(1) .diva4 .container .swiper-container .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center; }
          .body .div:nth-of-type(1) .diva4 .container .swiper-container .swiper-slide div {
            padding: 0 15px; }
        .body .div:nth-of-type(1) .diva4 .container .swiper-container .swiper-button-next, .body .div:nth-of-type(1) .diva4 .container .swiper-container .swiper-button-prev {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #F1C40F;
          background-size: 30%; }
        .body .div:nth-of-type(1) .diva4 .container .swiper-container .swiper-button-disabled {
          background-color: #5f5b5c; }
  .body .div:nth-of-type(1) .diva5 {
    width: 100%;
    height: 524px;
    background: #121212;
    display: flex;
    justify-content: center; }
    .body .div:nth-of-type(1) .diva5 .container {
      display: flex;
      margin-top: 110px; }
      .body .div:nth-of-type(1) .diva5 .container ul {
        margin-right: 308px; }
        .body .div:nth-of-type(1) .diva5 .container ul h3 {
          font-size: 30px;
          color: #F1C40F; }
          .body .div:nth-of-type(1) .diva5 .container ul h3 p {
            width: 47px;
            height: 4px;
            background: #F1C40F;
            border-radius: 2px;
            margin-top: 16px; }
        .body .div:nth-of-type(1) .diva5 .container ul li {
          display: flex;
          align-items: center; }
          .body .div:nth-of-type(1) .diva5 .container ul li span {
            width: 40px;
            margin-right: 12px;
            text-align: center; }
          .body .div:nth-of-type(1) .diva5 .container ul li p {
            font-size: 12px;
            color: #5e5b5b; }
        .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(1) {
          margin-top: 27px; }
        .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(2) {
          margin-top: 20px; }
        .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(3) {
          margin-top: 35px; }
        .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(4) {
          margin-top: 40px; }
          .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(4) span {
            width: 30px;
            height: 30px;
            margin-right: 10px; }
            .body .div:nth-of-type(1) .diva5 .container ul li:nth-of-type(4) span img {
              display: block;
              width: 100%;
              height: 100%; }
      .body .div:nth-of-type(1) .diva5 .container form {
        width: 348px; }
        .body .div:nth-of-type(1) .diva5 .container form input {
          width: 100%;
          height: 48px;
          border: none;
          padding-left: 12px;
          box-sizing: border-box; }
        .body .div:nth-of-type(1) .diva5 .container form input::-webkit-input-placeholder {
          font-size: 12px;
          color: #5e5b5b; }
        .body .div:nth-of-type(1) .diva5 .container form input:nth-of-type(1) {
          background: #fff url(../img/Usercopy2.png) no-repeat 95% center; }
        .body .div:nth-of-type(1) .diva5 .container form input:nth-of-type(2) {
          margin: 20px 0;
          background: #fff url(../img/Mail.png) no-repeat 95% center; }
        .body .div:nth-of-type(1) .diva5 .container form textarea {
          width: 100%;
          height: 116px;
          border: none;
          box-sizing: border-box;
          padding-left: 12px;
          padding-top: 12px;
          color: #5e5b5b; }
        .body .div:nth-of-type(1) .diva5 .container form button {
          border: none;
          background: none;
          width: 100%;
          height: 48px;
          text-align: center;
          line-height: 48px;
          font-size: 16px;
          color: #fff;
          background: #F1C40F;
          margin-top: 8px; }
  .body .div:nth-of-type(1) .diva6 {
    width: 100%;
    height: 106px;
    background: #222;
    color: #5e5b5b;
    text-align: center;
    line-height: 106px; }
  .body .div:nth-of-type(2) .divb1 {
    width: 100%;
    height: 284px;
    background: url(../img/首页-产品介绍_02.jpg) no-repeat;
    background-size: 100% 100%; }
  .body .div:nth-of-type(2) .divb2 {
    width: 100%;
    height: 46px;
    background: #3c3a3b; }
    .body .div:nth-of-type(2) .divb2 .container {
      width: 64%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .body .div:nth-of-type(2) .divb2 .container p {
        font-size: 11px;
        color: #6c6c6c; }
        .body .div:nth-of-type(2) .divb2 .container p span {
          color: #F1C40F;
          margin-left: 8px; }
  .body .div:nth-of-type(2) .divb3 {
    width: 100%;
    height: 724px;
    background: #fff;
    position: relative; }
    .body .div:nth-of-type(2) .divb3 .container {
      width: 64%;
      height: 100%;
      margin: auto; }
      .body .div:nth-of-type(2) .divb3 .container .top {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .body .div:nth-of-type(2) .divb3 .container .top p {
          font-size: 14px;
          color: #3c3a3a;
          display: flex;
          align-items: center; }
          .body .div:nth-of-type(2) .divb3 .container .top p input {
            display: block;
            width: 226px;
            height: 28px;
            border: none;
            border: 1px solid #cecece;
            box-sizing: border-box;
            padding-left: 26px; }
        .body .div:nth-of-type(2) .divb3 .container .top p:nth-of-type(1) input:nth-of-type(1) {
          margin-left: 14px;
          background: url(../img/top.png) no-repeat 95% center; }
        .body .div:nth-of-type(2) .divb3 .container .top p:nth-of-type(1) input:nth-of-type(2) {
          margin-left: 6px;
          border-radius: 4px;
          background: url(../img/down.png) no-repeat 95% center; }
        .body .div:nth-of-type(2) .divb3 .container .top p:nth-of-type(2) input {
          width: 172px;
          height: 32px;
          border-radius: 20px;
          margin-left: 16px;
          padding-left: 35px;
          background: url(../img/Search.png) no-repeat 5% center; }
      .body .div:nth-of-type(2) .divb3 .container table {
        width: 100%;
        border-radius: 2px 2px 0 0; }
        .body .div:nth-of-type(2) .divb3 .container table td, .body .div:nth-of-type(2) .divb3 .container table th {
          text-align: left; }
        .body .div:nth-of-type(2) .divb3 .container table tr th:first-child, .body .div:nth-of-type(2) .divb3 .container table tr td:first-child {
          box-sizing: border-box;
          padding-left: 24px; }
        .body .div:nth-of-type(2) .divb3 .container table tr:nth-of-type(1) {
          height: 56px;
          background: #ffdc4e !important;
          font-size: 16px;
          color: #5e5e5e;
          border-radius: 4px; }
          .body .div:nth-of-type(2) .divb3 .container table tr:nth-of-type(1) th {
            border-bottom: 2px solid #e1c341; }
        .body .div:nth-of-type(2) .divb3 .container table tr:not(:first-child) {
          height: 52px;
          font-size: 12px;
          color: #a4a9ae; }
          .body .div:nth-of-type(2) .divb3 .container table tr:not(:first-child) input {
            width: 98px;
            height: 30px;
            border: none;
            border: 1px solid #cecece;
            border-radius: 4px; }
          .body .div:nth-of-type(2) .divb3 .container table tr:not(:first-child) button {
            width: 98px;
            height: 30px;
            border: none;
            background: #fdd245;
            text-align: center;
            line-height: 30px;
            border-radius: 4px;
            outline: none; }
          .body .div:nth-of-type(2) .divb3 .container table tr:not(:first-child) button:active {
            background: linear-gradient(#fed94b, #e89916); }
        .body .div:nth-of-type(2) .divb3 .container table tr:nth-child(odd) {
          background: #f7f8fa; }
      .body .div:nth-of-type(2) .divb3 .container .fenye {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_firstPage"]:active, .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_lastPage"]:active, .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_previousPage"]:active, .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_nextPage"]:active {
          opacity: 1;
          background: linear-gradient(to top, #df7e00, #ffd4cd); }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_page"]:hover {
          background: #242625; }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 .whj_checked {
          background: #242625 !important; }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 .whj_border {
          background: #3b393a;
          border-radius: 4px;
          text-align: center;
          color: #fff;
          font-size: 12px;
          padding: 0 !important;
          border: none; }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_firstPage"], .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_lastPage"] {
          width: 62px;
          height: 28px;
          line-height: 28px;
          border: none; }
        .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_page"], .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_previousPage"], .body .div:nth-of-type(2) .divb3 .container .fenye .whj_jqueryPaginationCss-2 div[name="whj_nextPage"] {
          width: 30px;
          height: 30px;
          line-height: 30px;
          margin: 0 1.5px; }
    .body .div:nth-of-type(2) .divb3 .shop {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: #ffdc4c;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 16px;
      right: 375px; }

.active {
  color: #cba303 !important;
  border-bottom: 4px solid #cba303; }

.tuactive {
  background: #F1C40F;
  color: #5c4d11; }

/*# sourceMappingURL=index.css.map */
